.header {
    background-color:  #f5f550;
    position: relative;
    width: 100%;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}