.produto {
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produto img {
    width: 200px;
    padding-top: 10px;
}

.card {
    padding: 39px;
    margin: 30px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
} 

.card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card:hover .btn_card {
    display: flex;
}

.descricao {
    background-color: #008000;
    color: #fff;
    width: auto;
    padding: 10px;
    border-radius: 10px;
}

.btn_card {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 12px 13px;
    color: #0c5dd6;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    cursor: pointer;
}
